/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body dhe stili i përgjithshëm */
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333; /* Ngjyrë e errët për tekstin */
    line-height: 1.6;
  }
  
  /* Header */
  header {
    background-color: #222;
    color: #fff;
    padding: 1.5em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
   /* Logo në anën e majtë */
   .nav-logo a {
    font-size: 3em;
    color: #ff6600;
    text-decoration: none;
    font-weight: bold;
    margin-left: 2.5em;
  }
  
  /* Lidhjet e navigimit (menuja) */
  .nav-links {
    list-style: none;
    display: flex;
    gap: 2em;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    padding: 0.5em;
    transition: color 0.3s ease;
  }
  
  /* Hover për lidhjet e menutë */
  .nav-links a:hover {
    color: #ff6600;
  }
  
  /* Welcome Section */
  #home {
    background-color: #333;
    color: #fff;
    padding: 5em 2em;
    text-align: center;
  }
  
  #home h1 {
    font-size: 3.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
    color: #ff6600; /* Ngjyrë portokalli për titullin */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Hije për theksimin e titullit */
  }
  
  #home p {
    font-size: 1.5em;
    margin-bottom: 2em;
    color: #fff;
  }
  .btn {
    background-color: #ff6600;
    color: white;
    padding: 1em 2em;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #e65c00;
  }
  
  /* Register and Login Sections */
  #register, #login {
    background-color: #fff;
    padding: 3em;
    margin-top: 3em;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  
  h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }
  
  input, button {
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1.2em;
  }
  
  input:focus, button:focus {
    outline: none;
    border-color: #ff6600;
  }
  
  button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #444;
  }